<h1>Listing dogs</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Arrival date</th>
    <th>Gender</th>
    <th>Size</th>
    <th>Dateofbirth</th>
    <th>Sterilized</th>
    <th>Story</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogs.each do |dog| %>
  <tr>
    <td height="100px;"><%= image_tag dog.photo1.url(:thumb) %></td>
    <td><%= dog.name %></td>
    <td><%= dog.arrival_date %></td>
    <td><%= dog.gender %></td>
    <td><%= dog.size %></td>
    <td><%= dog.date_of_birth %></td>
    <td><%= dog.sterilized %></td>
    <td><%= dog.story %></td>
    <td><%= dog.comments %></td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dog', new_dog_path %>
