<!DOCTYPE html>
<html>
<head>
  <title>Mirada Animal</title>

  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">

  
  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $jQ instead of $
  // e.g. $jQ('#div_id').stuff instead of $('#div_id').stuff
  	//$jQ = jQuery.noConflict();
  	
	jQuery(document).ready(function(){
		jQuery("#form").validate();
	});
  	
  </script>
  <%= javascript_include_tag 'javascripts/jquery.validate.js' %>
  <%= javascript_include_tag 'javascripts/jquery.validate.min.js' %>
</head>
	<body>
		<p class="notice"><%= notice %></p>
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		<%= yield %>

	</body>
</html>
