<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8 col-md-offset-2">
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name,  :required=>"true",  :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email,  :required=>"true",  :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :rut %><br />
    <%= f.text_field :rut,  :required=>"true",  :class=>"form-control" %>
  </div>
  <div class="field">
    
    <%= f.check_box :volunteer, {:checked=>true, :hidden => true},  :class=>"form-control" %> 
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :phone,  :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.check_box :car %> <%= f.label "Cuentas con un auto para el operativo" %>
  </div>
  <div class="field">
    <%= f.label :ocupation %><br />
    <%= f.text_field :occupation,  :class=>"form-control" %>
  </div>
  <!--div class="field">
    <%= f.label :frequent_donor %><br />
    <%= f.text_field :frequent_donor %>
  </div-->
  <br/>
  <div class="actions text-center">
    <%= f.submit 'Enviar',  :class=>"btn btn-primary " %><br/><br/>
  </div>
  </div>
<% end %>
