<style type="text/css">
.btn-radio {
  width: 100%;
}
.img-radio {
  opacity: 0.3;
  margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}
</style>
<script type="text/javascript">
$(function () {
    $('.btn-radio').click(function(e) {

      if( $(this).hasClass("active") ){
      
      $(this).removeClass('active')
        .siblings('input').prop('checked',false)
            .siblings('.img-radio').css('opacity','0.3');
          }
          else {
          	$(".btn-radio").removeClass('active');
          	$('input').prop('checked',false)
          	$('.img-radio').css('opacity','0.3');

      		$(this).addClass('active')
            .siblings('input').prop('checked',true)
        .siblings('.img-radio').css('opacity','1');

      }
    });
});
</script>
<h1 class="text-center">¡APADRINA A UN PELUDO!</h1>
<div class="text-center">
<h2> Por $30.000 mensuales podrás apadrinar a un perrito del refugio</h2>
<label> Te recomendamos programar una transferencia mensual a través de tu banco para que tu peludo siempre cuente con tu aporte</label>
</div>
<div class="well col-md-4 col-md-offset-4">
	<div class="row">
	<div class="col-md-3">Banco: </div><div class="col-md-6"> Banco estado </div><div class="col-md-3"></div>
	</div>
	<div class="row">
	<div class="col-md-3">Tipo cuenta: </div><div class="col-md-6"> Rut/Vista </div><div class="col-md-3"></div>
	</div>
	<div class="row">
	<div class="col-md-3">Número: </div><div class="col-md-6"> 15380940 </div><div class="col-md-3"></div>
	</div>
	<div class="row">
	<div class="col-md-3">Rut: </div><div class="col-md-6"> 15.380.940-2 </div><div class="col-md-3"></div>
	</div>
	<div class="row">
	<div class="col-md-3">Nombre: </div><div class="col-md-6"> Michelle Leon </div><div class="col-md-3"></div>
	</div>
	<div class="row">
	<div class="col-md-3">Mail: </div><div class="col-md-6"> refugioesperanzapd@gmail.com </div><div class="col-md-3"></div>
</div>
</div>
<% if @notice %>
	<div class="col-md-6 col-md-offset-3">
		<font color="red">ATENCION: <%= @notice %></font>
	</div>
<% end %>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_tag :controller => "members", :action => "create_padrino", :class=>"form-horizontal well", :id => 'form' do |f| %>
            <div class="field">
              <%= label_tag "Ingresa tu e-mail de contacto" %><br />
              <%= text_field_tag "member[email]", "", :class=>"form-control required", :required => true, :type => "email" %>
            </div>
            <div class="row text-center">
              <h2 class=" col-sm-12">Selecciona al perrito que quieres apadrinar </h2>
          </div>
            <div class="row">
              <% @dogs.each do |dog| %>           
                <div class="col-xs-2 text-center">
                  <%= image_tag dog.photo1.url(:thumb), :class=>"img-responsive img-radio", :alt => dog.name, :style=> "height:100px;width:100px;"%>
                    <button type="button" class="btn btn-primary btn-radio "> <%= dog.name %></button>
                    <input type="checkbox" id="dog" name="dog" class="hidden" value="<%= dog.id %>">
                </div>
              <% end %>
            </div>
            <div class="actions text-center"><br/>
			    <%= submit_tag '¡Apadrinar!', :class =>  "btn btn-success"%>
			</div>
          <%end%>
        </div>
    </div>
</div>
